.jumbotron{
    color: lightslategray;
    text-align: center;
    background-color: lightskyblue;
}

.delBtn{
    background-color: lightcoral;
    color: lightslategray;
}
.saveBtn{
    background-color: lightskyblue;
    color: lightslategray;
}

.hour{
    font-weight: bolder;
}

background{
    background-color: lightgoldenrodyellow;
}
